{
	"useTabs": true,
	"singleQuote": true,
	"printWidth": 100,
	"trailingComma": "none",
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"tailwindStylesheet": "./apps/web/src/routes/layout.css",
	"overrides": [
		{
			"files": "*.svelte",
			"options": { "parser": "svelte" }
		}
	]
}
